DEPLOYER_PRIVATE_KEY=
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
ROBINHOOD_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com
USDG_ADDRESS=0xcf987e5ec08229eb9cf260f66d3382c827e37777
OPERATOR_TREASURY=
REWARD_SIGNER=
