DEPLOYER_PRIVATE_KEY=
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
ROBINHOOD_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com
USDG_ADDRESS=0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168
OPERATOR_TREASURY=
REWARD_SIGNER=
