DEPLOYER_PRIVATE_KEY=
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
ROBINHOOD_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com
GAME_TOKEN_ADDRESS=0x6E6e926AAEC6dCD0EDBD49CfC5BC49062Ae80923
OPERATOR_TREASURY=
REWARD_SIGNER=
